@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    background: #ffe8d2;
    margin: 0;
    padding: 0;
}

header {
    background: #ff7b4e;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 22px;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 25px auto;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.card h2 {
    margin-top: 0;
    color: #ff7b4e;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: 600;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.btn {
    padding: 12px;
    background: #ff7b4e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #e96a3f;
}

.card p {
    margin: 15px 0 5px;
    font-weight: 600;
}