* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #d5e1ff;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

header {
    background: #0a1558bc;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: sticky;
    z-index: 5;
    top: 0;
    backdrop-filter: blur(6px);
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

nav ul li b {
    color: #555794;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

nav ul li a:hover {
    color: #caceff;
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #b6d3ff;
    transition: width 0.5s ease;
}

nav ul li a:hover:after {
    width: 100%;
}

section {
    padding: 2rem;
    margin: 1rem;
    background: #9caada;
    border-radius: 8px;
    box-shadow: 0 4px 8px #555794(0, 0, 0, 0.1);
}

img{
    max-width: 1800px;
    margin: 0 auto;
    align-items: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 1rem;

}

.sobre-mim {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foto-perfil {
    width: 400px;
    height: 300px;
    /* border-radius: 50%; */
    object-fit: cover;
    border: 4px solid #b6d3ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, 0.25s linear;
    align-items: center;
    text-align: center;
   
}

.foto-perfil:hover {
    transform: scale(1.3);
    box-shadow: 0 16px 32px #183e80;
    color: white;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(170, 171, 239);
}

p {
    color: #4d5c97;
}

.cards {
    display: flex;
    gap: 1rem;
}

.card {
    background: radial-gradient(circle, rgba(180, 181, 255, 0.9) 0%, rgb(101, 100, 202) 50%, rgb(73, 64, 168) 100%);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(24, 28, 111, 0.666);
    transition: 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(63, 66, 254, 0.666);
}

#formacao a {
    color: #4138a0;

}

h3 {
    margin-bottom: 0.5rem;
    color: #4b6c9f;
}

h2 {
    margin-bottom: 0.5rem;
    color: #38598a;
    text-align: center;
}

.foto-skill {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #183e80;
    transition: transform 0.3s ease, box-shadow 0.3s ease, 0.25s linear;
}

footer {
    background-color: #183e80;
    color: #ecf0f1;
    padding: 20px 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 50px;
}

footer a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #b6d3ff;
}

:root {
    scroll-behavior: smooth;
}

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffbfdc;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 10px;
}

header p {
    font-size: 1.25rem;
} */

.main-container {
    margin-top: 20px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    position: absolute;
    right: 49.3%;
    height: 2000px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: translateX(-50%);
    background-color: #183e80;
}

.line a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: #183e80;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.card {
    font-size: .8rem;
    width: 200px;
    height: auto;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.left {
    position: relative;
    left: -150px;
}

.right {
    position: relative;
    left: 150px;
}

.left::after,
.right::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #183e80;
    border-radius: 0px 10px;
    transform: rotate(-45deg);
    z-index: -1;
}

.left::after {
    top: 5px;
    right: -10px;
}

.right::after {
    top: 5px;
    left: -10px;
}

.card h1 {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    color: white;
    background-color: #183e80;
}

.card p {
    padding: 10px;
}

.thumbnail {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.left .thumbnail {
    left: 113%;
}

.right .thumbnail {
    right: 225px;
}

@media screen and (max-width:790px) {
    body {
        text-align: center;
        padding: 0 10px;
    }

    .main-container {
        width: auto;
    }

    .line {
        height: 1550px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 4px;
        /* largura da linha */
        height: 100%;
        background-color: #000;
        /* cor da linha */
        z-index: 1;
    }

    .card {
        top: 70px;
        margin-bottom: 100px;
    }

    .left::after,
    .right::after {
        visibility: hidden;
    }

    .left {
        left: auto;
    }

    .right {
        left: auto;
    }

    .left .thumbnail {
        top: -70px;
        left: 75px;
    }

    .right .thumbnail {
        top: -70px;
        left: 75px;
    }
}

.cards1 {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* .card1 {
    background: radial-gradient(circle, rgb(231, 128, 190, 0.9) 0%, rgb(223, 114, 184) 50%, rgb(168, 64, 123) 100%);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(111, 24, 78, 0.666);
    transition: 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(254, 63, 181, 0.666);
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: whitesmoke;
}