/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Opeb Sans", sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: 'Times New Roman', Times, serif;
}

h1{font-size: 3rem;}
h2{font-size: 2rem;}
h3{font-size: 1.25rem;}
h4{font-size: 0.875rem;}

main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

nav{
    background-color: #fff;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.navigator{
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigator h4{
    margin-bottom: 0;
    color: hsl(205, 70%, 60%);
}

.links{display: flex;}

nav a{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(205, 86%, 17%);
    letter-spacing: 0.1rem;
    margin-right: 1rem;
}

nav a:hover{
    color: hsl(205, 70%, 60%);
}

.container{
    text-align: center;
}

.container h2{
    background: #222;
    color: #fff;
    padding: 1rem;
    border-radius: o.25rem;
    margin-bottom: 2.5rem;
}