*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

header{
    background: #aa386c;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1{
    margin-bottom: 0.3rem;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: #f08fbb;
    cursor: pointer;
}

section{
    padding: 2rem;
    margin: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow:0 4px 8px #f4b3d0(0,0,0,0.1);
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

h2{
    margin-bottom: 1rem;
}

.sobre-mim{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foto-perfil{
    width: 120px;
    height: 120px;
    border-radius:50%;
    object-fit: cover;
    border: 4px solid #aa386c;
}

.sobre-informacoes{
    flex:1;
}
.sobre-informacoes h2{
    margin-bottom: 0.5rem;
}
.sobre-informacoes p{
    font-size: 1rem;
    color: #c15887;
}

.cards{
    display: flex;
    gap: 1rem;
}
.card{
    background: radial-gradient(circle, rgb(231, 128, 190, 0.9) 0%, rgb(186, 70, 145) 50%, rgb(153, 37, 103) 100%);
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(254, 63, 181, 0.666);
    transition: 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(254, 63, 181, 0.666);
}

.hobby i{
    font-size: 2rem;
    color: #aa386c;
}