/*reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(223, 128, 175);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
}

header i {
    color: rgb(255, 212, 235);
    display: none !important;
}

ul {
    list-style: none;
}

header ul li {
    color: #fff;
    display: inline;
    margin-left: 10px;
}

.container{
    display: flex;
}

nav{
    width: 200px;
    height: 120vh;
    background-color:rgb(223, 128, 175);
    border-top: 3px solid #ffc0de
}

nav ul li{
    width: 200px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

nav ul li:hover{
    background-color: #ffc0de;
}

main{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 15px;
    padding: 20px;
}

main .box{
    width: 250px;
    height: 350px;
    background-color: #ffc0de;
    border-radius: 10px;
}

.box img{
    width: 100%;
    max-height: 60%;
    border-radius: 10px 10px 0 0;
}

.box .info{
    width: 100%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.info button{
    width: 80%;
    align-self: center;
    background-color: #b1316f;
    color: #fff;
    font-family: bold;
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', arial;
}

.info button:hover{
    background-color: #882454;
    transform: scale(1.1);
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 700px){
    header ul{
        display: none;
    }

    header i {
        display: block !important;
    }

    .container nav{
        position: absolute;
        top: 0;
        left: -200px;
        height: 100vh;
    }
}